<!--The content below is only a placeholder and can be replaced.-->
<app-top-bar></app-top-bar>
<router-outlet></router-outlet>

<mat-tab-group>
    <mat-tab label="First"> Content 1 </mat-tab>
    <mat-tab label="Second"> Content 2 </mat-tab>
    <mat-tab label="Third"> Content 3 </mat-tab>
</mat-tab-group>
<mat-radio-group>
    <mat-radio-button value="1">Option 1</mat-radio-button>
    <mat-radio-button value="2">Option 2</mat-radio-button>
</mat-radio-group>
<mat-icon>home</mat-icon>

<app-table-basic-example></app-table-basic-example>


<!-- <app-product-list></app-product-list> -->